.theme-btn {
    position: relative; /* necessário para que o ::before fique em relação ao botão */
    line-height: 0;
    border: none;
    background-color: var(--primary-color);
    padding: 20px;
    margin: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all;
    cursor: pointer;
}


html.light .theme-btn{
    background-color: var(--secondary-color);
}

html.light .user-text, html.light .project-title {
  color: var(--primary-color);
}

html.light .mini-project-item a, html.light .project-item a {
  background-color: #ab6565;
}

html.light .each-skill {
  background-color: #ab6565;
}


.theme-btn::before {
  content: "";
  position: absolute;
  bottom: -10px;       
  width: 2px;         
  height: 6px;        
  background-color: #ffffff;
  border-radius: 2px;
  transition: .5s all;
}

.theme-btn:hover::before {
  height: 24px; 
  bottom: -30px;
}

.theme-btn:hover {
    transform: translateY(-30px);
}

.container-theme-button {
  padding-bottom: 50px;
}

.icon {
    color: #ffffff;
    font-size: 1.5rem;
}

html.light .contact-box {
  background-color: #c98888;
  color: #000000;
  border: 3px solid var(--third-color);
}

html.light .options {
  color: #000000;
  border: 3px solid var(--third-color);
}

html.light .message {
  background-color: #a86767;
}

html.light .chatHeader {
  background-color: #a45454;
}

html.light .back-button a {
  color: #000000;
}

html.light .chatHeader img {
  border: 2px solid #c98888;
}