html {
  margin: 0;
  background-image: linear-gradient(140deg,
      #8a2b2b,
      #8e2a2a,
      #703030,
      #7f4c4c,
      #822f2f,
      #5a1010,
      #1f0303);
  background-size: 200% 200%;
  animation: gradient 7s ease infinite;
}

html.light {
  background-image: linear-gradient(140deg,
      #e8b4b4,
      #e3a6a6,
      #d69d9d,
      #e0baba,
      #d78f8f,
      #c47c7c,
      #f2dcdc);
}

*::selection {
  background-color: #f63737;
  color: #ffffff;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.intro-text {
  text-align: center;
}

.intro-text span {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  animation: fadeIn 1s ease forwards;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

main {
  flex: 1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  display: flex;
  justify-content: start;
  gap: 10vw;
}

.user-icon {
  border-radius: 50% 50% 0 0;
  object-fit: cover;
}

.user-text {
  color: var(--primary-color);
  font-size: 2.5rem;
}

.user-section {
  width: 35vw;
}

.about {
  width: 100vw;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.works {
  width: 100vw;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.projects {
  margin-top: 5%;
  margin-bottom: 5%;
}

.project-item a {
  text-decoration: none;
  color: #ffffff;
  font-size: clamp(1.5rem, 1vw, 1.5rem);
  object-fit: cover;
  flex-grow: 0;
  flex-basis: auto;
  padding: 50px 50px 0px 50px;
  backdrop-filter: blur(10px);
  background-color: #4f1f1fb3;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  gap: 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: .5s all;
  width: 500px;
}

.mini-project-item a {
  text-decoration: none;
  color: #ffffff;
  font-size: clamp(1.5rem, 1vw, 1.5rem);
  object-fit: cover;
  flex-grow: 0;
  flex-basis: auto;
  padding: 50px 50px 50px 50px;
  backdrop-filter: blur(10px);
  background-color: #4f1f1fb3;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  gap: 40px;
  display: flex;
  box-sizing: border-box;
  transition: .5s all;
  width: 500px;
  display: flex;
  align-items: center;
}


.project-item a,
.mini-project-item a {
  display: flex;
  padding: 1.5rem;
  background-color: #4f1f1fb3;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  max-width: 500px;
}

.project-item,
.mini-project-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.5rem;
}


.project-item a:hover {
  transform: scale(1.01);
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: #5a2121b3;
}

.mini-project-item a:hover {
  transform: scale(1.01);
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: #5a2121b3;
}

.projects-container {
  width: 85%;
  column-count: 3;
  gap: 1.5rem;
}

.project-title {
  color: var(--primary-color);
  margin: 0;
  margin-bottom: 2%;
  font-size: 1.5rem;
}

.work {
  object-fit: cover;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.mini-work {
  display: flex;
  border-radius: 50%;
}

.work,
.mini-work {
  object-fit: cover;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15%;
}

.skills-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
}

.skills-info p,
.skills-info h1 {
  margin: 0;
}


.each-skill {
  cursor: default;
  display: flex;
  background-color: #4f1f1fb3;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 500px;
  padding: 2%;
  transition: .5s all;
}

.each-skill img {
  border-radius: 20px;
}

.each-skill:hover {
  transform: scale(1.01);
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: #5a2121b3;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3%;
}

.chatHeader img {
  border-radius: 50%;
  border: 2px solid #ffffff;
  object-fit: cover;
}

.chatHeader {
  gap: 20px;
  padding: 3%;
  background-color: #822f2f;
  display: flex;
  align-items: center;
}

.back-button {
  display: flex;
  align-items: center;
  padding-left: 40%;
}

.back-button a {
  color: #ffffff;
}

.contact-box {
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #5a1010;
  border: 3px solid var(--secondary-color);
  width: 500px;
  height: 800px;
  border-radius: 10px;
}


.message {
  width: fit-content;
  background-color: #703030;
  border-radius: 20px;
  margin: 0;
  padding: 3.5%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.options {
  border-radius: 40px;
  padding: 5%;
  border: 3px solid var(--secondary-color);
  color: #ffffff;
  text-decoration: none;
  transition: .5s all;
  width: fit-content;
}

.options:hover {
  transform: scale(1.01);
  background-color: rgba(255, 255, 255, 0.1);
}

.chat {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media screen and (max-width: 1780px) {
  .projects-container {
    width: 90%;
    column-count: 3;
    gap: 1.5rem;
  }

  .work {
    height: 200px;
  }
}

@media screen and (max-width: 1670px) {
  .projects-container {
    width: 65%;
    column-count: 2;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 1530px) {
  .projects-container {
    width: 75%;
    column-count: 2;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 1320px) {
  .projects-container {
    width: 85%;
    column-count: 2;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 1170px) {
  .projects-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -15%;
    transform: scale(0.8);
  }

  .projects {
    margin-top: -20%;
  }

  .subintro {
    text-align: center;
    width: 400px;
  }

  .contact {
    margin-top: 5%;
  }

}

@media screen and (max-width: 900px) {
  .about {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .user {
    display: block;
    place-items: start;
  }

  .user-section {
    width: 85vw;
  }

  .each-skill {
    width: 450px;
  }

  .contact {
    margin-bottom: 7%;
  }

  .contact-box {
    width: 450px;
    height: 850px;
  }

  .back-button {
    padding-left: 30%;
  }

}

@media screen and (max-width: 500px) {
  html {
    overflow-x: hidden;
  }

  .projects {
    width: 470px;
    margin-top: -50%;
  }

  .user {
    transform: scale(0.85);
  }

  .works {
    padding-top: 10%;
  }

  .skills {
    margin-top: 15%;
  }

  .each-skill {
    width: 350px;
  }

  .contact {
    margin-bottom: 0%;
  }

  .contact-box {
    margin-top: -15%;
    transform: scale(0.8);
  }
}